@import "./base.css";
@import "./vue.min.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
<<<<<<< HEAD
  text-decoration: none;
  color: rgb(1, 22, 15);
=======
  
  color: rgb(246, 242, 247);
>>>>>>> b750da2075309e485da919e463657bc0a8adbaa4
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(30, 30%, 96%, 0.2);
  }
}

@media (min-width: 2400px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

